{% extends 'base.html' %}

{% block sidebar %}
{% include 'admin_navbar.html' %}
{% endblock %}


{% block content %}
  <main>
    
      <h1 class="m-3 mt-5">DOSSIER DE
          {% if user_detail_object.firstname == None %}
            {{ user_detail_object.users.email }}
          {% else %}
            {{ user_detail_object.lastname }} {{ user_detail_object.firstname }}
          {% endif %}</h1>

      {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert-{{category}}">
      {{ message }}
    </div>
     {% endfor %}
     
      <div class="row">


    <div class="col">
      <div class="card m-3">
        <div class="card-header">PROFIL 
        </div>
        <div class="card-body">
          <div class="row m-2">
            <div class="col">
              {% if user_detail_object.firstname == None %}
            <p class="card-text">{{ user_detail_object.users.email }} n'a pas encore enregistré.e son profil</p>
          {% else %}
             <p class="card-text">prenom :</p>
             <p class="card-text">nom :</p>
             <p class="card-text">adresse : </p>
             <p class="card-text">code postal :</p>
             <p class="card-text">ville :</p>
             <p class="card-text">telephone:</p>
             <p class="card-text">mail :</p>
            </div>
            <div class="col">
             <p class="card-text">{{ user_detail_object.firstname }}</p>
             <p class="card-text">{{ user_detail_object.lastname }}</p>
             <p class="card-text">{{ user_detail_object.address }}</p>
             <p class="card-text">{{ user_detail_object.city_code }}</p>
             <p class="card-text">{{ user_detail_object.city }}</p>
             <p class="card-text">{{ user_detail_object.phone }}</p>
             <p class="card-text">{{ user_detail_object.users.email}}</p>
             {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
       <div class="card m-3">
        <div class="card-header">
          FORMATION & PROMO
          {{ user_detail_object.lastname }}
        </div>
        <div class="card-body">
          <a class="btn btn-outline-success m-2" href="/admin/promo/{{ promo_user.promo_id }}" role="button">{{ promo_user.promo.formation.name }} {{ promo_user.promo.iteration }}</a>
        </div>
      </div>
      <div class="card m-3">
        <div class="card-header">NIVEAU DANS LA FORMATION 
        </div>
        <div class="card-body">
          <p class="card-text">Step Formation : {{ promo_user.user_step.value }}</p>
        </div>
      </div>

      <div class="card m-3">
        <div class="card-header">MODIFIER LE NIVEAU
        </div>
        <div class="card-body">
          <form  method="POST">
            <div class="input-group mb-3">
              <select class="custom-select" id="user_step" name="user_step">
                <option value='Candidat'>Candidat</option>
                <option value='Etudiant'>Etudiant</option>
                <option value='Diplomé'>Diplomé</option>
                <option value='Abandon'>Abandon</option>
              </select>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="card m-3">
    <div class="card-header">
      <h5 class="card-title">Dossiers & Documents </h5>
    </div>
    <div class="card-body"> 


      {% for item in all_promo_folders %}
      
   
          <div class="card m-2">
            <div class="card-header">
              <h5 class="card-title">{{ item.folder_type.name }}</h5>
              <div class="card-body">
                  {% for elem in all_documents_folder %}
                  {% if item.folder_type_id ==  elem.folder_type_id %}
                <div class="card p-3" >  {% if elem.document_type_id not in test %}  <h5 class="card-title">{{ elem.document_type.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-danger">Pas encore envoyé</h6>
                {% else %}
                  <h5 class="card-title">{{ elem.document_type.name }}</h5>
                  {% for docs in all_docs_user %}   
                  {% if docs.document_type_id == elem.document_type_id %}
                  {% if docs.status.value == 'validé' or docs.status.value == 'non concerné' %}
                  <h6 class="card-subtitle mb-2 text-success"> {{ docs.status.value }}</h6>
                  {% else %}
                  <h6 class="card-subtitle mb-2 text-warning"> {{ docs.status.value }}</h6>
                  {% endif %}
                  <form  method="POST" class="form-inline">
                    <div class="input-group m-1">
                      <input type="hidden" value="{{ docs.id }}" name="doc_user_id">                          
                      <select class="custom-select my-1 mr-sm-2" id="doc_status" name="doc_status">
                        <option selected>Choose...</option>
                        <option value='à envoyer'>à envoyer</option>
                        <option value='en attente de validation'>en attente de validation</option>
                        <option value='validé'>validé</option>
                        <option value='non conforme'>non conforme</option>
                        <option value='non concerné'>non concerné</option>
                      </select>
                      <button type="submit" class="btn btn-secondary my-1">Modifier</button>
                    </div>
                  </form>
                  <p class="card-text mb-2"> {{ docs.file }}</p>
                  <a href="{{ url_for('uploading', filepath=docs.file) }}" class="card-link ">Telecharger</a>

                     {% endif %}
                    {% endfor %} {% endif %}
                </div>
                  {% endif %}
                  {% endfor %}
              </div>
         
            </div>
     
          </div>
      

   
      {% endfor %}
        
    </div>
  </div>
</main>
{% endblock content %}

