{% extends 'base.html' %}

{% block sidebar %}
{% include 'admin_navbar.html' %}
{% endblock %}




{% block content %}
<main>
    

    <h1 class="m-3 mt-5">DASHBOARD</h1>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert-{{category}}">
      {{ message }}
    </div>
     {% endfor %}

    <div class="row">

      <div class="col">
   
          <div class="list-group m-3">
            <a class="list-group-item list-group-item-secondary">
              Les documents a valider
            </a>{% for item in all_documents_to_check %}
            {% if item.status.name == 'status2' %}
            <a href="/admin/users/{{ item.user_id }}" class="list-group-item list-group-item-action">
            {{ item.document_type.name }} => {{ item.file }}</a>
            {% endif %}
            {% endfor %}
          </div>
          <div class="list-group m-3">
            <a class="list-group-item list-group-item-secondary">
              Les documents non conformes
            </a>{% for item in all_documents_to_check %}
            {% if item.status.name == 'status4' %}
            <a href="/admin/users/{{ item.user_id }}" class="list-group-item list-group-item-action">
            {{ item.file }} // {{ item.document_type.name }}</a>
            {% endif %}
            {% endfor %}
          </div>
          <div class="list-group m-3">
            <a  class="list-group-item list-group-item-secondary">
              Les documents en attente
            </a>{% for item in all_documents_to_check %}
            {% if item.status.name == 'status1' %}
            <a href="/admin/users/{{ item.user_id }}" class="list-group-item list-group-item-action">
            {{ item.file }} // {{ item.document_type.name }}</a>
            {% endif %}
            {% endfor %}
          </div>
      </div>

      <div class="col">
        <div class="card m-3">
          <div class="card-header">
            Les etudiants
          </div>
          <div class="card-body">
            <div class="dropdown"><p>NOTE : les etudiants qui n'ont pas encore rempli leur fiche info sont affichés par leur email.</p>
              <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Par mail
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">{% for item in all_users %}
                <li>
                    <a class="dropdown-item" href="admin/users/{{ item.id }}">
                    {{ item.email }}
                    </a>
                </li>
                {% endfor %}
              </ul> 
              <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Par son nom
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">{% for item in all_users_detail %}
                <li>
                    
                    {% if item.lastname %}
                    <a class="dropdown-item" href="admin/users/{{ item.user_id }}">
         
        
                  {{ item.lastname }} {{ item.firstname }}
                  {% endif %}
                    </a>
                </li>
                {% endfor %}
              </ul>

              <form class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>

              </div>
            </div>
          </div>

          <div class="list-group m-3">
            <a  class="list-group-item list-group-item-secondary">
              LES PROMOS
            </a>{% for item in all_promos %}
            <a href="/admin/promo/{{ item.id }}" class="list-group-item list-group-item-action">
            {{ item.formation.name }}  {{ item.iteration }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

</main>
{% endblock content %}





