{% extends 'base.html' %}
{% block sidebar %}
<div class="sidebar-heading">
  <a class="navbar-brand" href="/">
    <img src="static/images/matrice_logo.png" alt="" width="150" height="150" class="d-block">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid m-5">
    <h1>Update Password</h1>
   



    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</div>
{% endblock %}