{% extends 'base.html' %}

         {% block user_dashboard %}


{% block content %}
<div class="container-fluid m-5">
    <h1>Dashboard</h1>
    <div class="card m-5">
        <div class="card-header">
        Informations
        </div>
        <div class="card-body">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.firstname.label }}<br>
                    {{ form.firstname(size=64) }}<br>
                    {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.lastname.label }}<br>
                    {{ form.lastname(size=64) }}<br>
                    {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.address.label }}<br>
                    {{ form.address(size=160) }}<br>
                    {% for error in form.address.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.city_code.label }}<br>
                    {{ form.city_code(size=5) }}<br>
                    {% for error in form.city_code.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.city.label }}<br>
                    {{ form.city(size=160) }}<br>
                    {% for error in form.city.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.phone.label }}<br>
                    {{ form.phone(size=10) }}<br>
                    {% for error in form.phone.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
    <a href="update/password" class="list-group-item list-group-item-action bg-light m-3">Modifier le mot de passe
    </a>
</div>

{% endblock %}

